@model SunSoft.Models.MailModel
@using (Html.BeginForm("SendEmailIndex", "SendMailer", FormMethod.Post, new { id = "sendEmailForm" }))
{
    <h3 class="tittle">@Resources.Resource.contactForm</h3>
    <div class="contact-form2">
        @Html.ValidationSummary()
        @Html.TextBoxFor(m => m.Name, new { placeholder = Resources.Resource.name, required = "", onlur = "if (this.value == '') {this.value = '" + Resources.Resource.name + "';}", onfocus = "this.value = '';", @name = "name" })
        @Html.TextBoxFor(m => m.Email, new { placeholder = Resources.Resource.email, required = "", onlur = "if (this.value == '') {this.value = '" + Resources.Resource.email + "';}", onfocus = "this.value = '';", @name = "email" })
        @Html.TextAreaFor(m => m.Message, new { placeholder = Resources.Resource.message + "...", required = "", onlur = "if (this.value == '') {this.value = '" + @Resources.Resource.message + "...';}", onfocus = "this.value = '';", @name = "message" })
        <input type="submit" value="@Resources.Resource.send">
    </div>
     
}



